<!DOCTYPE html>
<html>
<head><title>AUP Generator</title></head>
<body>
    <h2>Custom Acceptable Use Policy Generator</h2>
    <form method="POST" enctype="multipart/form-data">
        <label>Upload Company Logo:</label><br><input type="file" name="logo"><br><br>
        <label>Company Name:</label><br><input name="company_name"><br>
        <label>Effective Date:</label><br><input name="effective_date" type="date"><br>
        <label>Version Number:</label><br><input name="version"><br>
        <label>Author:</label><br><input name="author"><br>
        <label>Reviewer:</label><br><input name="reviewer"><br>
        <label>Approver:</label><br><input name="approver"><br>
        <label>Email Contact:</label><br><input name="email"><br>
        <label>Phone Contact:</label><br><input name="phone"><br>
        <label>IM Platform:</label><br><input name="im_platform"><br>
        <label>Distribution Method:</label><br><input name="distribution"><br><br>
        <input type="submit" value="Generate AUP">
    </form>
</body>
</html>
